<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179196103843-cv36r1m91jdol0mv3kf6clcmtt2dsul5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179196103843-cv36r1m91jdol0mv3kf6clcmtt2dsul5</string>
	<key>API_KEY</key>
	<string>AIzaSyBu-wkuo_MNr2fMgxgADFSSkITeStChIIc</string>
	<key>GCM_SENDER_ID</key>
	<string>179196103843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.user.mobileApp</string>
	<key>PROJECT_ID</key>
	<string>ywork-f7082</string>
	<key>STORAGE_BUCKET</key>
	<string>ywork-f7082.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179196103843:ios:21da451726cc74704d8316</string>
</dict>
</plist>